.modal{
    display: flex;
    flex-direction:column;
    background-color: white;
    border-radius: 7px;
}

.modal__upPart{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgb(240, 237, 237);
}

.modalIcon{
color: grey;
size:10px;
}

.modal__upPart > p{
padding-top: 7px;
font-size: 18px;

}

.modal__middlePart{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0;
}

.modal__middlePart__profileInfo{
    display: flex;
    padding:10px;
}

.modal__middlePart__profileInfo__nameVisibility{
    display: flex;
    flex-direction: column;
    margin:0 10px;
}

.modal__middlePart__profileInfo__nameVisibility > h6{
    font-size: 16px;
    font-weight: 500;
}

.modal__middlePart__profile__Info__nameVisibility > form{
    justify-content: center;
    outline: none !important;
}


.modal__middlePart__profileInfo__nameVisibility > form> select{
    
    border-radius: 30px;
    border:1px solid lightgrey;
    color:rgb(132,131,131);
    padding:8px;
    font-size: 12px;
    margin-left: -4px;
    font-weight: 550;
    font-size: small;
    display: block;
    appearance:initial;
    box-shadow: none !important;
    -webkit-box-shadow:none;
    outline: none;
}

.modal__middlePart__profileInfo__nameVisibility > form> select:hover{
cursor: pointer;
background-color:rgb(238, 238, 238);
}
  

.modal__middlePart__profileInfo__nameVisibility > form > select > option{
   width: 100%;
  
}

.modal__middlePart__inputText{
    align-items: center;
    justify-content: center;
    margin:10px
}

.modal__middlePart__inputText >textarea{
    width: 100%;
    margin: 0;
    outline: none;
    border: none;
    resize:none;
    width:  100%;
    height: auto;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 18px;
    color: rgb(87, 82, 82);
    font-weight:normal;

 }

 .modal__middlePart__hashtag{
    align-items: center;
    justify-content: center;
    margin:0 10px;
}

.modal__middlePart__hashtag >textarea{
    width: 100%;
    
    outline: none;
    border: none;
    resize:none;
    height: 18px;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 18px;
    color:#0a66c2;
    font-weight:bold;

 }

.modal__downPart{
    padding:10px;
    display:flex;

}
